<!-- ======= Services Section ======= -->
<section
  id="services"
  class="services section-bg"
  style="background-color: #8aad86f0"
>
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>companies</h2>
      <p>Check out the companies we have</p>
    </div>

    <div class="row">
      <div
        *ngFor="let company of typesOfPerfumes"
        class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div style="cursor: pointer;"  class="icon-box" (click)="showtype(company)">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <h4 class="title">
            <a>{{ company }}</a>
          </h4>
          <p class="description">
         this shows all Perfume for {{company}} Company
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
