<section id="about" class="about">
   
  <div class="container"> <h2 style="text-align: center; font-family:cursive; color: #8cac6c;text-shadow: 5px 4px 3px #c0c8b9;">Our Perfumes</h2> </div>


  <div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner"   style="min-height: 23rem;"  >
      <div class="carousel-item active">
        <div class="row">
 
    <div class="col-md-3" *ngFor="let parfume of parfumes">
      
      <div (click)="showProfile(parfume.id)" class="profile-card-2"><img style="max-width: 100%; height: auto;" [src]='"assets/img/perfume/"+parfume.img+".jpeg"'  class="img img-responsive">
          <div class="profile-name">{{parfume.name}}</div>
          <div class="profile-username">{{parfume.company}}</div>
          <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
      </div>
  </div>

       
      </div>
      </div>
 
   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>



  </section>
