
<div style="margin-top: 5rem;"><h1>cart Items</h1></div>
<div >
            
  <ul class="list-group list-group-light">
   
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let i of cart">
      <div class="d-flex align-items-center">
        <img [src]='"assets/img/perfume/"+i.img+".webp"' class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
        <div class="ms-3">
          <p class="fw-bold mb-1">{{i.name}}</p>
          <p class="text-muted mb-0">{{i.company}}</p>
        </div>
        <span>{{i.price}}</span>
      </div>

      <div class=" w-auto justify-content-end align-items-center">
        <input (click)="removeFromCart(i)" type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm " data-field="quantity">
        <span>{{i.quantity}}</span>
        <input (click)="increaseQuantity(i)" type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
     </div>
    </li>
 <li style="list-style-type: none;">Total Price: <strong>{{totalPrice()}}$</strong> </li>
    <li style="list-style-type: none;" *ngIf="!isEmpty()"><button class="btn btn-warning" (click)="clearCart()">clear</button></li>
    <li style="list-style-type: none;" ><button [routerLink]="['/Parfumes/charge']"  class="btn btn-success">Purshase</button></li>
  </ul>
  </div>


<div>
  <h2>Payment Form</h2>
  <form id="payment-form">
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>

    <button type="button" (click)="onSubmit(totalPrice())">Submit Payment</button>
  </form>
</div>