<div class="app-container" [ngClass]="{ 'bg-light': account }">
    <!-- main nav
    <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="account">
        <div class="navbar-nav">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a>
            <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
            <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
            <button (click)="logout()" class="btn btn-link nav-item nav-link">Logout</button>
        </div>
    </nav> -->


 <!-- ======= Header ======= -->
 <!-- <header id="header" class="fixed-top d-flex align-items-center" >
    <div class="container d-flex align-items-center justify-content-between">
  
      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Ninestars</span></a></h1>
       </div>
  
      <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" >
        <ul>
          <li><a class="nav-link scrollto" href="#home" >Home</a></li>
          <li> <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li *ngIf="account"><a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li style="margin-left: 1rem;" *ngIf="isLoggedIn()"><button  (click)="logout()" class="btn btn-danger ">Logout</button></li>
          <li  style="margin-left: 1rem;" *ngIf="!isLoggedIn()"><button [routerLink]="['/account/register']" style="background-color: #93af87a3;" class="btn">SignIn</button></li>
          <li  *ngIf="account"><a  *ngIf="account.role === Role.Admin" [routerLink]="['/Parfumes/']" routerLinkActive="active" class="nav-item nav-link">addParfume</a></li>
          <li class="nav-item cart-icon">
            <a type="button" data-bs-toggle="modal" data-bs-target="#myModal">
              <i class="fa" style="font-size:24px">&#xf07a;</i>
              <span class='badge badge-warning' id='lblCartCount'>{{itemCount()}}</span>
            </a>
          </li>
        </ul>
    
    
  
      
        
      </nav>
      
    </div>
  </header>  -->



  <nav id="navbar" class=" fixed-top navbar navbar-expand-lg navbar-light bg-light" > 
  <div class="container-fluid">  
    
    <a class="navbar-brand" href="#">Omar22</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item"><a class="nav-link" href="#home" >Home</a></li>
          <li class="nav-item"> <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a></li>
          <li class="nav-item" *ngIf="account"><a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a></li>
          <li class="nav-item"><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li class="nav-item"> 
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form></li>
        </div>
        <li style="list-style-type: none;" class="nav-item" *ngIf="isLoggedIn()"><button  (click)="logout()" class="btn btn-danger ">Logout</button></li>
        <li style="list-style-type: none;" class="nav-item"  *ngIf="!isLoggedIn()"><button [routerLink]="['/account/register']" style="background-color: #93af87a3;" class="btn">SignIn</button></li>
        <li style="list-style-type: none;" class="nav-item"  *ngIf="account"><a  *ngIf="account.role === Role.Admin" [routerLink]="['/Parfumes/']" routerLinkActive="active" class="nav-item nav-link">addParfume</a></li>
        
        <a type="button" data-bs-toggle="modal" data-bs-target="#myModal" style="width: fit-content; padding: 16px 0px 15px 0px;">
          <i class="fa" style="font-size:24px">&#xf07a;</i>
          <span class='badge badge-warning' id='lblCartCount'>{{itemCount()}}</span>
        </a>
      
    </div>
  
      
      </div>
      </nav>
      
    
 













  <!-- End Header -->

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-end">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Show Your Cart Items</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div >
            
            <ul class="list-group list-group-light">
             
              <!-- <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let i of getCookiesWithPrefix()">
                <div class="d-flex align-items-center">
                  <img [src]='"assets/img/perfume/"+i.name+".jpeg"' class="rounded-circle" alt=""
                    style="width: 45px; height: 45px" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">{{i.value}}</p>
                    <p class="text-muted mb-0">{{i.type}}</p>
                  </div>
                </div>
                <span class="rounded-pill">Price</span>
              </li>
            -->
            </ul>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- subnav router outlet -->
    <router-outlet name="subnav"></router-outlet>

    <!-- global alert -->
    <alert></alert>

    
    <!-- main router outlet -->
    <router-outlet></router-outlet>
</div>