<form  [formGroup]="form"  (ngSubmit)="onSubmit()">
<div class="row"> 
    <h1>fil</h1>
</div>
    <div class="row">
    <div class="mb-3 col-5">
        <label class="form-label">Parfume Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <label class="form-label">Company Name</label>
        <input type="text" formControlName="company" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
        <label class="form-label">Type Name</label>
        <input type="text" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
        <label class="form-label">img</label>
        <input type="text" formControlName="img" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.img.errors }" />
        <label class="form-label">price</label>
        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
        
        <div class="mb-3">
            <button [disabled]="submitting" class="btn btn-primary">
                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                Register
            </button>
        </div>

        <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div> -->
    </div>
</div>

</form>
